@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-color: #ffffff;
    --error-color: #ff5757;
    --default-bgd: #0a1813;

    --button-bgd: rgba(255, 255, 255, 0.1);
    --button-hover-bgd: rgba(255, 255, 255, 0.2);

    --input-bgd: rgba(255, 255, 255, 0.05);
    --input-filled-bgd: rgba(255, 255, 255, 0.1);

    --burgerBgd: rgba(1, 10, 5, 0.75);
    --galleryNotActive: rgba(2, 15, 8, 0.75);
    --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

body {
  font-family: var(--font-inter);
  font-weight: 200;
  font-size: 14px;
  background-color: var(--default-bgd);
  color: var(--main-color);
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -------------------Container----------------- */
.container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 104px;
    padding-right: 104px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

/* -------------------HeroButton----------------- */
.btn::after {
  content: url('../../public/icons/frame-right-mobile.svg');
  position: absolute;
  top: 0;
  right: 0;
}

.btn::before {
  content: url('../../public/icons/frame-left-mobile.svg');
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  .btn::after {
    content: url('../../public/icons/frame-right-tablet.svg');
    top: 1px;
    right: 0;
  }

  .btn::before {
    content: url('../../public/icons/frame-left-tablet.svg');
    top: 1px;
    left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .btn::after {
    content: url('../../public/icons/frame-right-desktop.svg');
    top: -1px;
    right: 0;
  }

  .btn::before {
    content: url('../../public/icons/frame-left-desktop.svg');
    top: -1px;
    left: 0;
  }
}

/* -------------------Backgrounds----------------- */
.hero {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  background-image: image-set(
    url('/images/hero/hero-mobile-1x.png') 1x,
    url('/images/hero/hero-mobile-2x.png') 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 480px) {
    background-image: image-set(
      url('/images/hero/hero-tablet-1x.png') 1x,
      url('/images/hero/hero-tablet-2x.png') 2x
    );
  }

  @media screen and (min-width: 768px) {
    background-image: image-set(
      url('/images/hero/hero-desktop-1x.png') 1x,
      url('/images/hero/hero-desktop-2x.png') 2x
    );
  }

  @media screen and (min-width: 1280px) {
    max-width: 1600px;
  }
}

.about {
  background-image: image-set(
    url('/images/about/about-mobile-1x.png') 1x,
    url('/images/about/about-mobile-2x.png') 2x
  );

  @media screen and (min-width: 768px) {
    background-image: image-set(
      url('/images/about/about-tablet-1x.png') 1x,
      url('/images/about/about-tablet-2x.png') 2x
    );
  }

  @media screen and (min-width: 1280px) {
    background-image: image-set(
      url('/images/about/about-desktop-1x.png') 1x,
      url('/images/about/about-desktop-2x.png') 2x
    );
  }
}

.career {
  background-image: image-set(
    url('/images/career/career-mobile-1x.png') 1x,
    url('/images/career/career-mobile-2x.png') 2x
  );

  @media screen and (min-width: 768px) {
    background-image: image-set(
      url('/images/career/career-tablet-1x.png') 1x,
      url('/images/career/career-tablet-2x.png') 2x
    );
  }

  @media screen and (min-width: 1280px) {
    background-image: image-set(
      url('/images/career/career-desktop-1x.png') 1x,
      url('/images/career/career-desktop-2x.png') 2x
    );
  }
}

.gallery {
  background-image: image-set(
    url('/images/gallery/bg/gallery-bg-mobile-1x.png') 1x,
    url('/images/gallery/bg/gallery-bg-mobile-2x.png') 2x
  );

  @media screen and (min-width: 768px) {
    background-image: image-set(
      url('/images/gallery/bg/gallery-bg-tablet-1x.png') 1x,
      url('/images/gallery/bg/gallery-bg-tablet-2x.png') 2x
    );
  }

  @media screen and (min-width: 1280px) {
    background-image: image-set(
      url('/images/gallery/bg/gallery-bg-desktop-1x.png') 1x,
      url('/images/gallery/bg/gallery-bg-desktop-2x.png') 2x
    );
  }
}

.contacts {
  background-image: image-set(
    url('/images/contacts/contacts-mobile-1x.png') 1x,
    url('/images/contacts/contacts-mobile-2x.png') 2x
  );

  @media screen and (min-width: 768px) {
    background-image: image-set(
      url('/images/contacts/contacts-tablet-1x.png') 1x,
      url('/images/contacts/contacts-tablet-2x.png') 2x
    );
  }

  @media screen and (min-width: 1280px) {
    background-image: image-set(
      url('/images/contacts/contacts-desktop-1x.png') 1x,
      url('/images/contacts/contacts-desktop-2x.png') 2x
    );
  }
}

/* -------------------Services----------------- */
@media screen and (min-width: 1280px) {
  .services-slider {
    width: 607px;
  }
}

.active-slider::before {
  content: url('../../public/icons/dot.svg');
  margin-right: 8px;
}

/* -------------------Form's items----------------- */
.phone-input input {
  padding-left: 36px;
}

.phone-input::after {
  content: '+38';
  width: 36px;
  color: var(--main-color);
  font-size: 13px;
  font-weight: 200;
  line-height: 1.84;
  position: absolute;
  bottom: 2px;
  left: 8px;
}

@media screen and (min-width: 768px) {
  .phone-input::after {
    bottom: 1px;
  }
}

@media screen and (min-width: 1280px) {
  .phone-input input {
    padding-left: 46px;
  }

  .phone-input::after {
    font-size: 20px;
    bottom: 2px;
  }
}

.check-label::before {
  content: '';
  width: 16px;
  height: 16px;
  opacity: 0.1;
  flex-shrink: 0;
  background-color: var(--main-color);
  position: relative;
  top: 3px;
  left: 3px;
  transition: opacity var(--transition);
}

.check-input:checked + .check-label::before {
  opacity: 1;
}

.check-input:hover + .check-label::before {
  opacity: 1;
}

.error::before {
  content: url('../../public/icons/error-cross.svg');
  fill: var(--error-color);
  position: absolute;
  width: 18px;
  height: 18px;
  left: -22px;
  top: 3px;
}

/* -------------------Gallery----------------- */
.swiper-wrapper {
  align-items: center;
}

@media screen and (min-width: 768px) {
  .image-wrap::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--galleryNotActive);
    box-shadow: var(--shadow);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

@media screen and (min-width: 768px) {
  .swiper.gallery-swiper .swiper-slide.gallery-slider.swiper-slide-next,
  .swiper.gallery-swiper .swiper-slide.gallery-slider.swiper-slide-prev {
    width: 121px !important;
    height: 87px !important;
  }

  .swiper.gallery-swiper .swiper-slide.gallery-slider.swiper-slide-active {
    width: 415px !important;
    height: 294px !important;
  }
}

@media screen and (min-width: 1280px) {
  .swiper.gallery-swiper .swiper-slide.gallery-slider.swiper-slide-next,
  .swiper.gallery-swiper .swiper-slide.gallery-slider.swiper-slide-prev {
    width: 213px !important;
    height: 125px !important;
  }

  .swiper.gallery-swiper .swiper-slide.gallery-slider.swiper-slide-active {
    width: 606px !important;
    height: 429px !important;
  }
}

/* -------------------Utilities----------------- */
@layer utilities {
  .section {
    @apply ml-auto mr-auto max-w-full bg-cover bg-center bg-no-repeat py-[56px] md:py-[64px] lg:max-w-[1600px] lg:py-[104px];
  }

  .textarea {
    @apply resize-none bg-inputBgd py-[2px] pl-[8px] text-justify text-13 leading-[1.85] outline-none transition-all duration-300 placeholder:text-13 placeholder:leading-[1.85] placeholder:opacity-20 hover:bg-inputBgdFilled focus:bg-inputBgdFilled focus:outline-none lg:text-20 lg:placeholder:leading-[1.2];
  }

  .input {
    @apply bg-inputBgd py-[2px] pl-[8px]  text-justify text-13 leading-[1.85] outline-none transition-all duration-300 placeholder:text-13 placeholder:leading-[1.85] placeholder:opacity-20 hover:bg-inputBgdFilled focus:bg-inputBgdFilled focus:outline-none focus:placeholder:text-white focus:placeholder:opacity-100 lg:text-20 lg:placeholder:text-20 lg:placeholder:leading-[1.2];
  }

  .contact-link {
    @apply font-normal leading-[1.72] transition-all duration-300 hover:underline focus:underline focus:outline-1 focus:outline-white md:text-16 md:leading-[1.5] lg:text-18 lg:leading-[1.33];
  }

  .contact-paragrath {
    @apply text-12 leading-[1.67] lg:leading-[2];
  }
}
